[Unit]
Description=Run EyeOfSauron outbound heartbeat

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=argus-heartbeat.service

[Install]
WantedBy=timers.target
